/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
}

header h1 {
    font-size: 36px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

main {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
}

.productos {
    display: flex;
    flex-wrap: wrap;
}

.producto {
    width: 30%; /* Ajusta el ancho según tus necesidades */
    margin: 10px;
    padding: 10px;
    border: 1px solid #ddd; /* Un borde para cada producto */
    text-align: center;
    background-color: #f9f9f9;
}

.producto img {
    max-width: 100%; /* Ajusta el tamaño máximo de las imágenes */
    height: auto; /* Mantiene la proporción de aspecto de las imágenes */
}

/* Estilos adicionales para los productos */

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}